.header__top-form{
  position: relative;
}
.header-input{
  width: 400px;
  height: 33px;
  background: none;
  border:none;
  border:1px solid #e1e1e1;
}
.header-input:hover{
  cursor: pointer;
  box-shadow: 1px 1px 2px #e1e1e1,
  -1px -1px 2px #e1e1e1,
  1px -1px 2px #e1e1e1,
  -1px 1px 2px #e1e1e1
  ;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.search-icon{
  position: relative;
  right: 38px;
  top: 5px;
}
