.site__author{
    width: 100%;
    background-color: #2da89b;
}
.author__title{
    padding: 10px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    color:#fff;
}